<!DOCTYPE html>
<html>
  <head>
    <title>Whatever...</title>
    <style>
      #color {
        display: block;
        height: 300px;
        width: 300px;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -150px;
        background-color: black;
        position: absolute;

      }
      </style>
  </head>
  <body>
    <div id="color"></div>
    <script>
      ~function () {
        var ws = new WebSocket("ws://localhost:8080/socket");

        ws.onopen = function () {
        }

        ws.onmessage = function (msg) {
          var data = JSON.parse(msg.data);
          var el = document.getElementById('color');
          el.style.backgroundColor = data.Data.Color;
        }

        ws.onerror = function (err) {
        }

        ws.onclose = function () {
        }
        }();
      </script>
    </body>
  </html>
